form {
    font-size: 13px;
    padding: 60px 0 50px;
    background: url("../images/restaurant-banner.jpg") no-repeat center center fixed;
    background-size: cover;
}

input[type=text] {
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 220px;
    padding: 0 10px;
    /* background-color: rgb(255, 255, 255, 0.8); */
}

input[type=text]:focus {
    outline: none;
    /* background-color: rgb(255, 255, 255); */
}

input[type=submit] {
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 69, 0, 0.8);
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(255, 69, 0);
}

input[type=radio]:checked {
    accent-color: orangered;
}

label {
    color: white;
}

fieldset {
    border: none;
}

fieldset.search-section > * {
    margin: 2px 5px
}

fieldset.sorting-section {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 5px; 
}

fieldset.sorting-section > legend {
    float: left;
    color: white;
}

