.business {
    text-align: left;
    /* border: 1px solid black; */
    width: 250px;
    height: 325px;
}

.business-name {
    font-size: large;
    font-weight: 800;
    margin: 5px 0 0 0;
}

.business-image {
    max-width: 100%;
    height: 70%;
    object-fit: cover;
}

.business-text {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
    max-width: 100%;
    max-height: 20%;
    margin-top: 5px;
}

.business-text p {
    padding: 0%;
    margin: 0%;
    font-weight: 500;
}

.business-address {
    text-align: left;
}

.business-details {
    text-align: right;
}

.business-details .business-category {
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    color: orangered;
}

.business-details .business-rating {
    font-weight: 700;
    color: orangered;
}

